body {
    background: linear-gradient(90deg,#C63C51 0%,#8C3061 50%, #4F1787 100%);
}

.AboutLinks {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    gap: 25px;
}
.AboutLinks>li a:hover {
    display: flex;
    list-style: none; 
    color: rgb(10, 10, 10);
    text-decoration:line-through;
}

.AboutLinks a {
    color: rgb(9, 10, 9);
    text-decoration:none; 
    font-size: 1rem;
}

img{
    border: solid;
    width: 100%;
}

.image{
    text-align: center;
}

h1{
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
    color: #fdfdfd;
    padding-bottom: 10px;
    text-decoration: underline;
}

h3{
    padding: 15px 15px 0px 15px;
}

h5{
    margin: 15px;
    padding: 15px;
}

.box{
    border-color: black;
    border-width: 2px;
    border-style:double;
    display: inline-block;
    width: 350px;
    height:250px;
}

.para{
    padding: 20px;
}

.box:hover{
    background-color: rgb(222, 233, 239);

}

.subcontant{
    text-align: center;
}

.secure p:first-child {
    font-weight: bold; 
}

.secure{
    font-size: 1.2rem;
    padding: 25px;
}

.content{
    padding: 40px;
    background-color: rgb(124, 206, 244);
}

.Maincontent{
    width: 60%;
    margin: 0 auto;
    padding: 40px;
}

@media screen and (max-width: 768px) {
    .Maincontent{
        width: 90%;
    }

    .content{
        width:90%;
    }

    h1 {
        font-size: 2rem;
        width: 90%;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}