body {
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.attemptExam,
.registration,
.addExam,
.container {
    width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.attemptExam:hover,
.registration:hover,
.addExam:hover,
.container:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
input[type="submit"]:hover {
    background-color: #666;
}
.Result {
    background-image: url('pngtree-vector-abstract-background-technology-concept-future-electric-blue-vector-png-image_23646548.jpg');
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}