* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topCont {
    padding: 2px;
}
.nav-bar,
.intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.nav-bar {
    background-color: #0a0a23;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.search input[type="search"] {
    width: 85%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.search button[type="button"],
.mode a button[type="button"],
.topIntro a button[type="button"] {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: #fff;
    cursor: pointer;
}
input[type="button"] {
    width: 90%;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3e6ff6;
    color: #fff;
    cursor: pointer;
}
button[type="button"]:hover {
    background-color: green;
}
.search button[type="button"]:hover,
.mode a button[type="button"]:hover,
.topIntro a button[type="button"]:hover {
    background-color: green;
}
.search {
    width: 85%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mode {
    width: 15%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mode a {
    font-size: 5px;
}
.intro .topIntro {
    padding: 10px;
    flex: 50%;
    background-color: #4a7aff;
    align-content: center;
    text-align: center;
}
.topIntro h1 {
    font-size: 80px;
}
.topIntro p {
    font-size: 30px;
}
.topIntro input[type="button"] {
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0a0a23;
    color: #fff;
    cursor: pointer;
}
.intro .botIntro {
    padding: 10px;
    flex: 50%;
    background-color: #0a0a23;
    align-self: center;
    align-content: center;
}
.botIntro img{
    width: 100%;
}
.botCont {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.aboutCont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aboutCont h1 {
    font-size: 36px;
    color: rgb(0, 100, 100);
    margin-bottom: 40px;
}
.aboutCont .container {
    justify-content: center;
    display: flex;
    gap: 20px;
}
.aboutCont .card {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    color: #000;
}
.aboutCont .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}
.aboutCont .card p {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}
.aboutCont .card a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.aboutCont .card a:hover {
    text-decoration: underline;
}
.aboutCont .about-us {
    background-color: #0a0a23;
}
.aboutCont .contact-us {
    background-color: #4a7aff;
}
.aboutCont .term {
    background-color: #0a0a23;
}
.aboutCont .policy {
    background-color: #4a7aff;
}
.featCont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.featCont {
    text-align: center;
    padding: 50px;
}
.featCont h1 {
    font-size: 36px;
    margin-bottom: 50px;
    color: rgb(0, 100, 100);
}
.featCont .features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}
.featCont .feature {
    border-radius: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    text-align: left;
    margin: 10px;
}
.featCont .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.featCont .feature p {
    font-size: 16px;
    margin-bottom: 20px;
}
.featCont .feature ul {
    list-style: none;
    padding: 0;
}
.featCont .feature ul li {
    font-size: 16px;
    margin-bottom: 10px;
}
.featCont .feature ul li i {
    color: rgb(0, 80, 00);
    margin-right: 10px;
}
.featCont .feature.secure {
    background-color: #9e9d9d;
}
.featCont .feature.reliable {
    background-color: #4a90e2;
    color: #fff;
}
.featCont .feature.easy {
    background-color: #1a1a1a;
    color: #fff;
}
@media (max-width: 800px) {
    .aboutCont .container {
        flex-direction: column;
    }
    .aboutCont .card {
        width: 100%;
        margin: 10px 0;
    }
    .featCont .features {
        flex-direction: column;
    }
    .featCont .feature {
        width: 100%;
        margin: 10px 0;
    }
}
@media only screen and (max-width: 800px) {
    .image-gallery img {
        width: 30%;
    }
}
@media only screen and (max-width: 400px) {
    .image-gallery img {
        width: 50%;
    }
}