* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
}

.login-box {
    background: #fff;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    text-align: center;
    transition: transform 0.6s, box-shadow 0.6s;
}

.login-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-bottom: 30px;
    color: #333;
    font-size: 1.8em;
}

.textbox {
    position: relative;
    margin-bottom: 20px;
    text-align: left; /* Align labels and inputs to the left */
}

.textbox label {
    margin-bottom: 5px;
    display: block; /* Makes the label take full width */
    color: #333;
}

.textbox input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease;
}

.textbox input:focus {
    border-color: #153992;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #153992;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #011c2c;
    transform: scale(1.03);
}

/* Additional styling for links */
p {
    margin-top: 20px;
}

a {
    color: #153992;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}