body{
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.signUp {
    width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.signUp:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="address"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.term input[type="checkbox"]{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
input[type="submit"]:hover {
    background-color: #666;
}